.row.header-padding-bottom {
  padding-bottom: 46px;
}

h1 {
  font-size: 26px; 
  color:#4ac4e8;
  padding: 10px 10px;
}

.span24.header-background-color {
  background-color: #CECECE;
}

ul.header-style > li {
  display:inline-block;
  margin-right:56px;
  font-size: 18px;
}

.active-nav-bar{
  color:#333;
  font-weight: bold;
  text-decoration: none;
}
ul.header-style > li > a {
  color: #333; 
}