//
// Variables
// --------------------------------------------------


// Global values
// --------------------------------------------------


// Colors
// -------------------------
$grayDark:       #333;
$grayLight:      #707070; 
$blueDark:       #187b97;
$blueLight:      #4ac4e8;