.row.header-padding-bottom
  .span24.header-background-color
    %h1
      Music Shop
.row.header-padding-bottom
  .span24
    %ul.header-style
      %li
        = link_to 'Categories' , categories_path()  
      %li
        = link_to 'Brands' , brands_path()  
      %li
        = link_to 'Products' , products_path()  
      %li
        = link_to 'Top Products' , "#"  

