//
// Left Menu
// --------------------------------------------------

.span3.left-menu-bg
  %h6.h6-header-left-menu
    FILTER


  // Left menu for Any Categories & Brands
  // -------------------------

  %ul.ul-left-menu                                                    
    %li
      = link_to "Any Categories & Brands", products_path()
  
 
  // Left menu for category
  // -------------------------

  %ul.ul-left-menu
    %h6.h6-header-left-menu.clear-border
      CAT
    - @categories.each do |category|
      %li
        = link_to category.name, products_category_path(category.id)   
    
  
  // Left menu for brand
  // -------------------------

  %ul.ul-left-menu.clear-border
    %h6.h6-header-left-menu.clear-border
      BRA
    - @brands.each do |brand|
      %li
        = link_to brand.name, products_brand_path(brand.id)            