.row.menu-padding
  .span12
    %ul.menu-style
      %li
        = link_to 'Categories', categories_path()
      %li
        = link_to 'Brands', brands_path()  
      %li
        = link_to 'Products', products_path()  
      %li
        = link_to 'Top Products', top_products_products_path()  
